*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #e50914;
    --dark-color: #141414;
}
body {
	font-family: 'Arial', sans-serif;
	background: #000;
	color: #999;
}
a{
    text-decoration: none;
    color: #fff;
}
.showcase{
    position: relative;
    height: 93vh;
    background: url(../Images/background.jpg) no-repeat center center/cover;
    
}
.showcase::after{
    content:'';
    position: absolute;
    top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000
}
.showcase-top{
    height: 90px;
    position: relative;
    z-index: 2;
}
.showcase-top img{
    position: absolute;
    width: 170px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.showcase-top a{
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.btn{
    padding: 0.4rem 1.5rem;
    background-color: var(--primary-color);
    border-radius: 5px;
    transition: opacity 0.2s ease-in;
}
.btn:hover{
    opacity: 0.9;
}
.showcase-content{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 9rem;
    
}
.showcase-content h1{
    font-size: 5.2rem;
    color: #fff;
    font-weight: 700;
    margin: 0 0 2rem;
}
.showcase-content p{
    font-size: 1.9rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 30px;
}
.btn-xl{
    background-color: var(--primary-color);
    padding: 0.8rem 3.8rem;
    font-size: 1.9rem;
    transition: opacity 0.3s ease-in;
    outline: none;
}
.btn-xl:hover{
opacity: 0.8;
}

.tabs{
    background-color: var(--dark-color);
    width: 100%;
}
i{
    margin-bottom: 10px;
}
.tabs .container{
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
}
 .tab-item, .tab-item, .tab-item{
     flex-basis: 33.3%;
    padding: 30px 0px;

 }
 .tab-item:hover, .tab-item:hover, .tab-item:hover{
    cursor:pointer;
    color: #fff;
 }
 .tab-border{
     border-bottom: 4px solid var(--primary-color);
 }

 .container-tabs{
     max-width: 70%;
     margin: auto;
 }
 .tab-content-1{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 400px;
 }
 .text-content{
     flex-basis: 50%;
     font-size: 1.7rem;
     color: #fff;
     padding: 2rem 0;
 }
 .text-content p{
     margin-bottom: 20px;
 }
 .btn-tab{
    display: inline-block;
     padding: 0.6rem 2.5rem;
     /* padding: 0.8rem 3.8rem; */
     text-align: center;
     font-size: 1.1rem;;
     background-color: var(--primary-color);
     text-transform:uppercase;
     transition: opacity 0.4s ease-in;
     outline: none;
 }
 .btn-tab:hover{
     opacity: 0.8;
 }
 .image-content{
    flex-basis: 50%;
 }
 .image-content img{
     max-width: 90%;
 }

 .text-content-2{
     display: flex;
     padding: 2.9rem 0;
 }
 .tab-content-2 .text{
     flex-basis: 65%;
     font-size: 1.9rem;
     color: #fff;
 }
 .btn-div{
    flex-basis: 35%;
    padding: 1.6rem  0;
 }

 .image-text-content{
     display: flex;
     justify-content: space-between;
     align-items: center;
     text-align: center;
 }
 .image-tab-2{
     flex-basis: 32%;
     /* border: 2px solid white; */
 }
 .image-tab-2 img{
     max-width: 90%;
 }
 .image-tab-2 h3{
     color: #fff;
 }
 .image-tab-2 p{
margin: 20px 0;
 }
 
