*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #e50914;
    --dark-color: #141414;
}
body {
	font-family: 'Arial', sans-serif;
	/* -webkit-font-smoothing: antialiased; */
	background: #000;
	color: #999;
}
a{
    text-decoration: none;
    color: #fff;
}
.showcase{
    position: relative;
    height: 93vh;
    background: url(../Images/background.jpg) no-repeat center center/cover;
    
}
.showcase::after{
    content:'';
    position: absolute;
    top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
	/* box-shadow: inset 120px 100px 250px #000000; */
    box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000


}
.showcase-top{
    height: 90px;
    position: relative;
    z-index: 2;
}
.showcase-top img{
    position: absolute;
    width: 170px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.showcase-top a{
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.btn{
    padding: 0.4rem 1.5rem;
    background-color: var(--primary-color);
    border-radius: 5px;
    transition: opacity 0.2s ease-in;
}
.btn:hover{
    opacity: 0.9;
}
.showcase-content{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 9rem;
    
}
.showcase-content h1{
    font-size: 5.2rem;
    color: #fff;
    font-weight: 700;
    margin: 0 0 2rem;
}
.showcase-content p{
    font-size: 1.9rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 30px;
}
.btn-xl{
    background-color: var(--primary-color);
    padding: 0.8rem 3.8rem;
    font-size: 1.9rem;
    transition: opacity 0.3s ease-in;
}
.btn-xl:hover{
opacity: 0.8;
}

.tabs{
    background-color: var(--dark-color);
    width: 100%;
}
i{
    margin-bottom: 10px;
}
.tabs .container{
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
}
 .tab-item, .tab-item, .tab-item{
     flex-basis: 33.3%;
    padding: 30px 0px;

 }
 .tab-item:hover, .tab-item:hover, .tab-item:hover{
    /* border-bottom: 1px solid var(--primary-color); */
    cursor:pointer;
    color: #fff;
 }
 .tab-border{
     border-bottom: 4px solid var(--primary-color);
 }
